<a href="https://colab.research.google.com/github/SyedAfraaz/2025-26-4113-Afraaz-AI-B-DS/blob/main/dictionaryoperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Creating a dictionary
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
    }
print("Original dictionary:", d)

Original dictionary: {'name': 'Syed', 'age': 20, 'course': 'BTech'}

In [2]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Accessing values
print("Name:", d["name"])
print("Age:", d.get("age"))

Name: Syed
Age: 20

In [3]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Adding a new key-value pair
d["college"] = "XYZ University"
print("After adding:", d)

After adding: {'name': 'Syed', 'age': 20, 'course': 'BTech', 'college': 'XYZ University'}

In [4]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}

In [5]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Updating value
d["age"] = 21
print("After updating:", d)

After updating: {'name': 'Syed', 'age': 21, 'course': 'BTech'}

In [6]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Removing elements
d.pop("course")
print("After pop:", d)
removed_item = d.popitem()
print("After popitem:", d)
print("Removed item:", removed_item)

After pop: {'name': 'Syed', 'age': 20}
After popitem: {'name': 'Syed'}
Removed item: ('age', 20)

In [7]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Keys, values, items
print("Keys:", d.keys())
print("Values:", d.values())
print("Items:", d.items())

Keys: dict_keys(['name', 'age', 'course'])
Values: dict_values(['Syed', 20, 'BTech'])
Items: dict_items([('name', 'Syed'), ('age', 20), ('course', 'BTech')])

In [ ]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Length
print("Length of dictionary:", len(d))

Length of dictionary: 3

In [10]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Looping through dictionary
print("Looping through keys:")
for key in d:
    print(key, ":", d[key])
print("Looping through key-value pairs:")
for k, v in d.items():
    print(k, "->", v)

Looping through keys:
name : Syed
age : 20
course : BTech
Looping through key-value pairs:
name -> Syed
age -> 20
course -> BTech

In [9]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Updating using update()
d.update({"city": "Hyderabad", "age": 22})
print("After update():", d)

After update(): {'name': 'Syed', 'age': 22, 'course': 'BTech', 'city': 'Hyderabad'}

In [8]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Nested dictionary
student = {
    "id": 1,
    "info": {
        "name": "Amit",
        "marks": 90
    }
}
print("Nested dictionary value:", student["info"]["marks"])

Nested dictionary value: 90

In [12]:
d = {
    "name": "Syed",
    "age": 20,
    "course": "BTech"
}
# Clearing dictionary
d.clear()
print("After clear:", d)

After clear: {}