<a href="https://colab.research.google.com/github/SyedAfraaz/2025-26-4113-Afraaz-AI-B-DS/blob/main/Week-2/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Filtering data
import pandas as pd
data={
    'Name':['Hamza','Bobby','Sun','Daniel'],
    'Age':[25,30,27,22]
}
df=pd.DataFrame(data)
print("Original DataFrame")
print(df)
print(df[df["Name"]=='Hamza'])
print(df[df["Name"]=='Sun'])

Original DataFrame
     Name  Age
0   Hamza   25
1   Bobby   30
2     Sun   27
3  Daniel   22
    Name  Age
0  Hamza   25
  Name  Age
2  Sun   27

In [ ]:
#Data manipulation
import pandas as pd
data={
    "Name":['A','B','C'],
    "Age":[20,21,22],
    "Marks":[70,80,90]
}
df=pd.DataFrame(data)
print("Original DataFrame")
print(df)
#adding new column
df["Bonus"]=4
print("\nAfter adding Bonus:")
print(df)
#increase marks
df["Marks"]=df["Marks"]+2
print("\n After increasing marks:")
print(df)
df["Total"]=df["Marks"]+df["Bonus"]
print("\n After adding Total:")
print(df)
#change value
df.loc[0,"Age"]=21
print("\n After changing Age:")
print(df)
df.rename(columns={"Total":"Final"},inplace=True)
print("\n After renaming:")
print(df)
#remove column
df.drop("Bonus",axis=1,inplace=True)
print(df)

Original DataFrame
  Name  Age  Marks
0    A   20     70
1    B   21     80
2    C   22     90

After adding Bonus:
  Name  Age  Marks  Bonus
0    A   20     70      4
1    B   21     80      4
2    C   22     90      4

 After increasing marks:
  Name  Age  Marks  Bonus
0    A   20     72      4
1    B   21     82      4
2    C   22     92      4

 After adding Total:
  Name  Age  Marks  Bonus  Total
0    A   20     72      4     76
1    B   21     82      4     86
2    C   22     92      4     96

 After changing Age:
  Name  Age  Marks  Bonus  Total
0    A   21     72      4     76
1    B   21     82      4     86
2    C   22     92      4     96

 After renaming:
  Name  Age  Marks  Bonus  Final
0    A   21     72      4     76
1    B   21     82      4     86
2    C   22     92      4     96
  Name  Age  Marks  Final
0    A   21     72     76
1    B   21     82     86
2    C   22     92     96

In [ ]:
#Linear Search
n = int(input("enter number of elements:"))
arr = []
for i in range(n):
    arr.append(int(input(f"enter element {i}:")))
key = int(input("enter element to search:"))
found = False
for i in range(n):
    if arr[i] == key:
        print(f"element {key} found at position {i+1}")
        found = True
        break
if not found:
    print("element not found:")

enter number of elements:3
enter element 0:23
enter element 1:63
enter element 2:12
enter element to search:63
element 63 found at position 2

In [ ]:
# Binary Search
n = int(input("Enter number of elements: "))
arr = []
for i in range(n):
    arr.append(int(input(f"Enter element {i+1}: ")))
arr.sort()
print("Sorted array:", arr)
key = int(input("Enter element to search: "))
low = 0
high = n - 1
found = False
while low <= high:
    mid = (low + high) // 2
    if arr[mid] == key:
        print(f"Element {key} found at position {mid + 1}")
        found = True
        break
    elif key < arr[mid]:
        high = mid - 1
    else:
        low = mid + 1
if not found:
    print("Element not found")

Enter number of elements: 3
Enter element 1: 22
Enter element 2: 54
Enter element 3: 19
Sorted array: [19, 22, 54]
Enter element to search: 19
Element 19 found at position 1

In [ ]:
# Grouping
import pandas as pd
# Simple Dataframe
data = {
    "Department": ["IT", "IT", "HR", "HR", "Finance"],
    "Name": ["A", "B", "C", "D", "E"],
    "Marks": [80, 85, 75, 90, 88]
}
df = pd.DataFrame(data)
print("Original Data:")
print(df)
print("\n Average Marks by department:")
print(df.groupby("Department")["Marks"].mean())
print("\nTotal marks by department:")
print(df.groupby("Department")["Marks"].sum())

Original Data:
  Department Name  Marks
0         IT    A     80
1         IT    B     85
2         HR    C     75
3         HR    D     90
4    Finance    E     88

 Average Marks by department:
Department
Finance    88.0
HR         82.5
IT         82.5
Name: Marks, dtype: float64

Total marks by department:
Department
Finance     88
HR         165
IT         165
Name: Marks, dtype: int64

In [ ]:
# Ranking
import pandas as pd
data = {
    "Name": ["A", "B", "C", "D"],
    "Marks": [85, 92, 78, 80]
}
df = pd.DataFrame(data)
print("Original Data:")
print(df)
df["Rank"] = df["Marks"].rank(ascending=False)
print("\nAfter ranking:")
print(df)

Original Data:
  Name  Marks
0    A     85
1    B     92
2    C     78
3    D     80

After ranking:
  Name  Marks  Rank
0    A     85   2.0
1    B     92   1.0
2    C     78   4.0
3    D     80   3.0

In [ ]:
# Rearrange
import pandas as pd
data = {
    "Name": ["A", "B", "C"],
    "Age": [22, 21, 23],
    "Marks": [86, 93, 80]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
# Rearranging rows by Marks (ascending)
df_sorted = df.sort_values(by="Marks")
print("\nAfter rearranging rows by marks (ascending):")
print(df_sorted)
# Rearranging rows by Marks (descending)
df_sorted_desc = df.sort_values(by="Marks", ascending=False)
print("\nAfter rearranging rows by marks (descending):")
print(df_sorted_desc)
# Rearranging columns
df_rearranged_cols = df[["Marks", "Name", "Age"]]
print("\nAfter rearranging columns:")
print(df_rearranged_cols)

Original DataFrame:
  Name  Age  Marks
0    A   22     86
1    B   21     93
2    C   23     80

After rearranging rows by marks (ascending):
  Name  Age  Marks
2    C   23     80
0    A   22     86
1    B   21     93

After rearranging rows by marks (descending):
  Name  Age  Marks
1    B   21     93
0    A   22     86
2    C   23     80

After rearranging columns:
   Marks Name  Age
0     86    A   22
1     93    B   21
2     80    C   23